.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.user-list {
  width: 60%;
}

.user-list h4 {
  text-align: center;
  margin-bottom: 20px;
}

.user-list table {
  width: 100%;
  border-collapse: collapse;
}

.user-list th, .user-list td {
  border: 1px solid #ddd;
  padding: 8px;
}

.user-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
}

.user-list td {
  text-align: left;
}
